<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md login-left">

            </div>

            <div class="col-md login-right d-flex flex-column justify-content-center align-items-center text-light ">
                <img src="https://img.icons8.com/officexs/64/000000/bullish.png" class="mb-5">

                <form th:action="@{/usuario/login}" th:object="${bean}" method="post" class="w-75">
                    <div class="form-group">
                        <label for="email">Usuário</label>
                        <input type="text" th:field="*{email}" id="email" class="form-control bg-dark text-light">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" th:field="*{senha}" id="senha" class="form-control bg-dark text-light">
                    </div>
                    <button class="btn btn-primary">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>