<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="margin: 0">

<div layout:fragment="navbar" class="d-none"></div>

<div layout:fragment="conteudo">
    <div class="container-fluid" >
        <a th:href="@{/}" class="btn btn-secondary btn-back">🡠 Voltar</a>
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-0 login-left">
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12 login-right d-flex flex-column justify-content-center align-items-center text-light ">
                <div th:text="${msg}" class="alert alert-success" th:if="${msg}"></div>

                <img src="../../static/images/ibridge_logo.png" th:src="@{/images/ibridge_logo.png}" class="mb-5 login-logo"/>

                <form th:action="@{/usuario/login}" th:object="${bean}" method="post" class="w-75">
                    <div class="form-group">
                        <label for="email">Usuário</label>
                        <input type="text" th:field="*{email}" id="email" class="form-control bg-dark text-light">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" th:field="*{senha}" id="senha" class="form-control bg-dark text-light">
                    </div>
                    <button class="btn btn-primary">Entrar</button>
                </form>

                <a th:href="@{/usuario/cadastrar}" class="nav-link text-light mt-5">Não tem conta? <strong>Cadastre-se aqui!</strong></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>