<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="container" th:object="${startup}">
        <h1 th:text="*{nome}"></h1>
        <p th:text="*{descricao}"></p>
        <p th:text="*{dataFundacao}"></p>
    </div>
</div>
<div layout:fragment="rodape"></div>
</body>
</html>