<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="conteudo">
    <div class="container-fluid">
        <div class="container">
            <div th:text="${msg}" class="alert alert-success" th:if="${msg}"></div>

            <div class="py-5">
                <h1 th:text="${startup.id==0?'Cadastro de Startup':'Atualização de Startup'}"></h1>
                <p class="lead">Cadastre seu projeto para que investidores possam encontra-lo fácilmente.</p>
            </div>

            <form th:action="@{/startup/salvar}" th:object="${startup}" enctype="multipart/form-data" method="post">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:value="${session.get('logado').id}" id="usuarioId" name="usuarioId">

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label th:for="nome">Nome da Startup: *</label>
                            <input type="text" th:field="*{nome}" class="form-control" placeholder="" required>
                            <p th:errors="*{nome}" class="form-text text-danger"></p>
                        </div>

                        <div class="form-group">
                            <label th:for="descricao">Descrição: *</label>
                            <textarea th:field="*{descricao}" class="form-control" placeholder="Nós somos um projeto que..." required></textarea>
                            <p th:errors="*{descricao}" class="form-text text-danger"></p>
                        </div>

                        <div class="form-group">
                            <label th:for="dataFundacao">Data de Fundação:</label>
                            <input type="text" th:field="*{dataFundacao}" class="form-control" placeholder="Ex.: 01/01/2001">
                            <p th:errors="*{dataFundacao}" class="form-text text-danger"></p>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-5">
                                <label th:for="telefone">Telefone:</label>
                                <input type="tel" th:field="*{telefone}" class="form-control" placeholder="(11) 1122-3344">
                                <p th:errors="*{telefone}" class="form-text text-danger"></p>
                            </div>

                            <div class="form-group col-md-7">
                                <label th:for="email">Email para contato: *</label>
                                <input type="email" th:field="*{email}" class="form-control" placeholder="Ex.: contato@startup.com" required>
                                <p th:errors="*{email}" class="form-text text-danger"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label th:for="site">Site ou blog:</label>
                            <input type="text" th:field="*{site}" class="form-control" placeholder="http://startup.com">
                            <p th:errors="*{site}" class="form-text text-danger"></p>
                        </div>

                        <div class="form-group">
                            <label th:for="imagem">URL da Imagem:</label>
                            <input type="text" id="imagem" name="imagem" value="https://assets-ouch.icons8.com/preview/966/bdf02213-610a-4790-8a48-13d5e98936f6.png" class="form-control">
                            <p th:errors="*{imagem}" class="form-text text-danger"></p>
                        </div>
                    </div>

                    <!-- COLUNA DE ENDEREÇO -->
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label th:for="enderecoCEP">CEP: *</label>
                            <input type="text" th:field="*{endereco.cep}" class="form-control" id="enderecoCEP" placeholder="00000-000" required>
                            <p th:errors="*{endereco.cep}" class="form-text text-danger"></p>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-9">
                                <label th:for="endereco.logradouro">Logradouro: *</label>
                                <input type="text" th:field="*{endereco.logradouro}" class="form-control" placeholder="Ex.: Rua das Rosas" required>
                                <p th:errors="*{endereco.logradouro}" class="form-text text-danger"></p>
                            </div>

                            <div class="form-group col-md-3">
                                <label th:for="endereco.numero">Numero: *</label>
                                <input type="text" th:field="*{endereco.numero}" class="form-control" required>
                                <p th:errors="*{endereco.numero}" class="form-text text-danger"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label th:for="endereco.bairro">Bairro: *</label>
                            <input type="text" th:field="*{endereco.bairro}" class="form-control" placeholder="Ex.: Pinheiros" required>
                            <p th:errors="*{endereco.bairro}" class="form-text text-danger"></p>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label th:for="endereco.cidade">Cidade: *</label>
                                <input type="text" th:field="*{endereco.cidade}" class="form-control" placeholder="Ex.: São Paulo" required>
                                <p th:errors="*{endereco.cidade}" class="form-text text-danger"></p>
                            </div>

                            <div class="form-group col-md-6">
                                <label th:for="endereco.estado">Estado: *</label>
                                <input type="text" th:field="*{endereco.estado}" class="form-control" placeholder="Ex.: SP" required>
                                <p th:errors="*{endereco.estado}" class="form-text text-danger"></p>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>
<div layout:fragment="rodape"></div>
</body>
</html>