<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div layout:fragment="conteudo">

        <div class="container">
            <div th:text="${msg}" class="alert alert-success" th:if="${msg}"></div>

            <h1>Lista de Startups</h1>
            <p th:text="${usuario.email}" th:if="${usuario}"></p>
            <div class="row justify-content-center">
                <div th:each="s:${startups}" class="col-12 col-sm-6 col-md-4 col-lg-3 my-3">
                    <div class="card text-dark">
                        <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{s.nome}"></h5>
                            <p class="card-text" th:text="*{s.descricao}"></p>
                            <a th:href="@{/startup/} + *{s.id}" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="rodape"></div>
</body>
</html>