body{
    margin-top: 72px;
}

.btn, .btn-lg{
    border-radius: .15rem;
}

.navbar{
    padding: 1rem 1.2rem;
}

.jumbotron{
    display: flex;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 72px);
    overflow: hidden;
    background-color: transparent;
}

.jumbotron-container{
    position: relative;
    z-index: 1;
}

.jumbotron-video{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: .3;
}

.jumbotron-video video{
    min-width: 100%;
    min-height: 100%;
}

.top-box{
    background: #fff2;
    border-radius: .25rem;
}

.card{
    min-width: 220px;
    min-height: 420px;
    background: #fff2;
    transition: .25s;
}

.card:hover{
    background: #fff3;
    box-shadow: 0 0 1rem #fff2;
}

.card-text{
    height: calc(1.4em * 3);
    overflow: hidden;
    line-height: 1.4em;
    word-wrap: break-word;
    color: #ddd;
}

.card-img-top{
    width: auto;
    max-height: 220px;
    object-fit: cover;
}

.login-left{
    background: url(https://images.pexels.com/photos/2832382/pexels-photo-2832382.jpeg?cs=srgb&dl=abstract-abstract-art-abstract-background-2832382.jpg&fm=jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: .6;
}

.login-right{
    min-height: 100vh;
}

