<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <div class="container">
            <div th:text="${msg}" class="alert alert-success" th:if="${msg}"></div>
        </div>

        <div class="jumbotron jumbotron-fluid text-light">
            <div class="container jumbotron-container">
                <h1>I-Bridge</h1>
                <p class="lead">Somos uma startup de investimento e tecnologia, que busca atender de imediato, toda a demanda existente na região da grande São Paulo.</p>
                <a class="btn btn-light btn-lg" href="#" role="button">Leia mais</a>
            </div>
            <div class="jumbotron-video">
                <video th:src="@{/images/jumbotron-video.mp4}" autoplay loop></video>
            </div>
        </div>

        <div class="container-fluid mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col bg-success mr-2 p-3">
                        <h2>Startups</h2>
                        <p class="lead mb-3">Cadastre a sua startup e encontre um investidor</p>
                        <a th:href="@{/startup}" class="btn btn-light btn-lg">Veja aqui</a>
                    </div>
                    <div class="col bg-danger ml-2 p-3">
                        <h2 >Investidores</h2>
                        <p class="lead mb-3">Cadastre-se e encontre a startup ideal para você investir</p>
                        <a th:href="@{/usuario/cadastrar}" class="btn btn-light btn-lg">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div layout:fragment="rodape"></div>
</body>
</html>