<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">
            I-Bridge
        </title>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link href="../static/css/master.css" th:href="@{/css/master.css}" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/a021b5cb61.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark text-light">
        <div layout:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img class="navbar-logo" src="../static/images/ibridge_logo.png" th:src="@{/images/ibridge_logo.png}"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/index}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/startup/lista}"><strong>Startups</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sobre-nos}">Sobre nós</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/contato}">Contato</a>
                            </li>
                        </ul>
                        <a th:href="@{/usuario/} + ${session.get('logado').id}" th:text="${session.get('logado').nome}" th:if="${session.get('logado')}" class="text-light my-auto"></a>

                        <a th:href="@{/usuario/login}" th:if="!${session.get('logado')}" class="btn btn-outline-light">Entrar</a>
                    </div>
                </div>
            </nav>
        </div>

        <div layout:fragment="conteudo"></div>

        <div layout:fragment="rodape" class="footer"></div>

        <script  th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script  th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
        <script src="//rum-static.pingdom.net/pa-5ddd06fa3a703100080008f6.js" async></script>
    </body>
</html>
